<a href="https://colab.research.google.com/github/macgyver121/DADS5001/blob/main/Exercise/GetData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pwd

/content

In [ ]:
import pandas as pd
%time
df = pd.read_csv('/content/drive/MyDrive/data/diabetes.csv')
df.head()

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.82 µs

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
%time
df.to_parquet('/content/drive/MyDrive/data/df.parquet.gzip', compression='gzip')

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.48 µs

In [ ]:
%time
df2 = pd.read_parquet('df.parquet.gzip')
df2.head()

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 9.06 µs

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

-----------

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
!pwd

/content

In [27]:
import pandas as pd
%time
df = pd.read_csv('/content/drive/MyDrive/DADS/confirmed-cases-since-271064.csv')
df.head()

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.25 µs

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

       No. announce_date  ... district_of_onset Unnamed: 11
0  1859158    26/10/2021  ...        เมืองลำปาง         NaN
1  1859159    26/10/2021  ...        เมืองลำปาง         NaN
2  1859160    26/10/2021  ...          ห้างฉัตร         NaN
3  1859161    26/10/2021  ...          ห้างฉัตร         NaN
4  1859162    26/10/2021  ...        เมืองลำปาง         NaN

[5 rows x 12 columns]

In [29]:
df = df.loc[:, 'No.': 'district_of_onset']

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 523463 entries, 0 to 748971
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   No.                    523463 non-null  int64
 1   announce_date          523463 non-null  object
 2   Notified date          523463 non-null  object
 3   sex                    523463 non-null  object
 4   age                    523463 non-null  object
 5   Unit                   523463 non-null  object
 6   nationality            523463 non-null  object
 7   province_of_isolation  523463 non-null  object
 8   risk                   523463 non-null  object
 9   province_of_onset      523463 non-null  object
 10  district_of_onset      523463 non-null  object
dtypes: int64(1), object(10)
memory usage: 47.9+ MB

In [32]:
df = df.dropna()

In [35]:
df['age'] = df['age'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
%time
df.to_parquet('/content/drive/MyDrive/DADS/confirmed-cases-since-271064.parquet')

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.87 µs