<a href="https://colab.research.google.com/github/macgyver121/DADS5001/blob/main/Exercise/Midterm_DADS5001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Midterm DADS5001 - COVID Analysis / Sivakorn 6410412012

https://data.go.th/dataset/covid-19-daily
- confirmed-cases.csv
- confirmed-cases-since-120864.csv
- confirmed-cases-since-271064.csv
- confirmed-cases-since-280265.csv

# Data preparation

## Import Data

In [275]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [276]:
!pwd

/content

In [277]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [278]:
df1 = pd.read_csv('/content/drive/MyDrive/DADS/DADS5001/confirmed-cases.csv')
df2 = pd.read_csv('/content/drive/MyDrive/DADS/DADS5001/confirmed-cases-since-120864.csv')
df3 = pd.read_csv('/content/drive/MyDrive/DADS/DADS5001/confirmed-cases-since-271064.csv')
df4 = pd.read_csv('/content/drive/MyDrive/DADS/DADS5001/confirmed-cases-since-280265.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning:

Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.

## Check info

In [279]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839771 entries, 0 to 839770
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   No.                    839771 non-null  int64
 1   announce_date          839771 non-null  object
 2   Notified date          836976 non-null  object
 3   sex                    784876 non-null  object
 4   age                    763606 non-null  object
 5   Unit                   763746 non-null  object
 6   nationality            755567 non-null  object
 7   province_of_isolation  839499 non-null  object
 8   risk                   838677 non-null  object
 9   province_of_onset      740737 non-null  object
 10  district_of_onset      680992 non-null  object
dtypes: int64(1), object(10)
memory usage: 70.5+ MB

In [280]:
print(df1['No.'].count() + df2['No.'].count() + df3['No.'].count() + df4['No.'].count())

3111655

## Concatinate Data Frame

In [281]:
df = df1.append((df2,df3,df4))

In [282]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3111655 entries, 0 to 219256
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   No.                    int64
 1   announce_date          object
 2   Notified date          object
 3   sex                    object
 4   age                    object
 5   Unit                   object
 6   nationality            object
 7   province_of_isolation  object
 8   risk                   object
 9   province_of_onset      object
 10  district_of_onset      object
 11  Unnamed: 11            float64
dtypes: float64(1), int64(1), object(10)
memory usage: 308.6+ MB

In [283]:
df.tail(5)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
219252,3088869,9/3/2022,8/3/2022,ชาย,NaN,NaN,Thailand,นครพนม,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
219253,3088870,9/3/2022,8/3/2022,ชาย,NaN,NaN,Burmese,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
219254,3088871,9/3/2022,8/3/2022,ชาย,NaN,NaN,Thailand,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
219255,3088872,9/3/2022,8/3/2022,ชาย,NaN,NaN,Thailand,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
219256,3088873,9/3/2022,8/3/2022,ชาย,29.0,ปี,Burmese,ตาก,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

## Delete duplicate rows

In [284]:
df['No.'].value_counts()

In [ ]:
df[df['No.'] == 835077]

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.info()

## Reset index and Delete unused column

In [ ]:
df.tail()

In [ ]:
df = df.reset_index()

In [ ]:
df.tail()

In [ ]:
del df['Unnamed: 11']

In [ ]:
del df['index']

In [ ]:
df.tail(5)

In [ ]:
df.shape

## check null

In [ ]:
pd.set_option("display.max_rows", None)

In [ ]:
df.isnull().sum()

## cleaning Data [announce_date]

In [ ]:
df['announce_date'].iloc[0:3]

In [ ]:
df['new_date'] = pd.to_datetime(df['announce_date'], format='%d/%m/%Y')

In [ ]:
df['new_date'].head()

In [ ]:
df['new_date'].max()

In [ ]:
df['new_date'].min()

## cleaning Data [sex]

In [ ]:
df['sex'].value_counts()

In [ ]:
df['sex'] = df['sex'].str.strip()

In [ ]:
df['sex'] = df['sex'].replace(['นาย','ช','ร.ต.ท.'], 'ชาย')

In [ ]:
df['sex'] = df['sex'].replace(['หญิิง','หห','หญง','ญ','หณิง'], 'หญิง')

In [ ]:
df['sex'].value_counts()

## cleaning Data [age]

In [ ]:
#age = df['age'].unique()

In [ ]:
df[df['age'] == '55/664']

In [ ]:
df[df['age'] == '35/11']

### delete row that age = 55/664, 35/11

In [ ]:
df = df.drop(100164)
df = df.drop(2597654)

In [ ]:
df['age'] = df['age'].astype(float)

### delete row that age more than 122 (highest human age in the world)

In [ ]:
df['age'].max()

In [ ]:
df[df['age'] > 122]

In [ ]:
index_age_error = df[df['age'] > 122].index

In [ ]:
df = df.drop(index_age_error)

In [ ]:
df['age'].sort_values(ascending = False)

### Round down (floor)

In [ ]:
df['age'].value_counts()

In [ ]:
df['age'] = df['age'].apply(np.floor)

### check value

In [ ]:
df['age'].value_counts()

## cleaning Data [unit]

In [ ]:
df['Unit'] = df['Unit'].str.strip()

In [ ]:
df['Unit'].value_counts()

### change person that age is month and day to 0 year

In [ ]:
unit_md_index = df[df['Unit'].isin(['เดือน', 'วัน'])].index

In [ ]:
df.loc[unit_md_index, 'age'] = 0

In [ ]:
df[df['Unit'].isin(['เดือน', 'วัน'])]

In [ ]:
df.loc[unit_md_index, 'Unit'] = 'ปี'

In [ ]:
df['Unit'].value_counts()

## cleaning Data [nationality]

### setting show all data

In [ ]:
pd.set_option("display.max_rows", None)

In [ ]:
df['nationality'].value_counts()

### change to lower text

In [ ]:
df['nationality'] = df['nationality'].str.lower()

### delete white space

In [ ]:
df['nationality'] = df['nationality'].str.strip()

In [ ]:
df.groupby('nationality').size()

### change duplicate data

In [ ]:
a = df['nationality'].replace(['afghan / afghani','afghanistan'], 'afghan')
a = a.replace(['albania'], 'albanian')
a = a.replace(['algeria'], 'algerian')
a = a.replace(['american samoa'], 'american samoan')
a = a.replace(['americans','อเมริกา'], 'american')
a = a.replace(['arabi'], 'saudi arabian')
a = a.replace(['argentina', 'argentine / argentinian'], 'argentine')
a = a.replace(['armenia'], 'armenian')
a = a.replace(['au', 'australia'], 'australian')
a = a.replace(['austria'], 'austrian')
a = a.replace(['azerbaijan'], 'azerbaijani')
a = a.replace(['bahrain'], 'bahraini')
a = a.replace(['bangladesh'], 'bangladeshi')
a = a.replace(['belarus'], 'belarusian')
a = a.replace(['belgium'], 'belgian')
a = a.replace(['bermuda'], 'bermudain')
a = a.replace(['bhutan'], 'bhutanese')
a = a.replace(['bosnian/herzegovinian'], 'bosnian')
a = a.replace(['brazil', 'บราซิล'], 'brazilian')
a = a.replace(['british / english', 'british / northern irish', 'british / scottish', 'british / welsh', 'british/english'], 'british')
a = a.replace(['brunei'], 'bruneian')
a = a.replace(['bulgaria'], 'bulgarian')
a = a.replace(['burma', 'myanmar', 'พม่า', 'ไทยใหญ่', 'ไทใหญ่'], 'burmese')
a = a.replace(['cambodia', 'กัมพูชา'], 'cambodian')
a = a.replace(['cameroon'], 'cameroonian')
a = a.replace(['canada'], 'canadian')
a = a.replace(['china', 'จีน'], 'chinese')
a = a.replace(['colombia'], 'colombian')
a = a.replace(['congo', 'congo (brazzaville)'], 'congolese')
a = a.replace(['croatia'], 'croatian')
a = a.replace(['cuba'], 'cuban')
a = a.replace(['czechia'], 'czech')

In [ ]:
a = a.replace(['denmark'], 'danish')
a = a.replace(['deutsch'], 'german')
a = a.replace(['netherlands'], 'dutch')
a = a.replace(['egypt'], 'egyptian')
a = a.replace(['emirate', 'uae', 'united arab emirates'], 'emirati')
a = a.replace(['eritrea'], 'eritrean')
a = a.replace(['estonia'], 'estonian')
a = a.replace(['ethiopia'], 'ethiopian')
a = a.replace(['philipines'], 'filipino')
a = a.replace(['finland'], 'finnish')
a = a.replace(['franch', 'french guiana'], 'french')
a = a.replace(['gambia', 'gambia, the'], 'gambian')
a = a.replace(['germany', 'germen', 'gremany'], 'german')
a = a.replace(['ghana'], 'ghanaian')
a = a.replace(['greece'], 'greek')
a = a.replace(['guinea'], 'guinean')
a = a.replace(['hong kong'], 'chinese')
a = a.replace(['hungary'], 'hungarian')
a = a.replace(['iceland'], 'icelandic')
a = a.replace(['india', 'india-thailand'], 'indian')
a = a.replace(['indonesia'], 'indonesian')
a = a.replace(['iran'], 'iranian')
a = a.replace(['iraq'], 'iraqi')
a = a.replace(['ireland'], 'irish')
a = a.replace(['israel'], 'israeli')
a = a.replace(['italy'], 'italian')
a = a.replace(['japan'], 'japanese')
a = a.replace(['jordan'], 'jordanian')

In [ ]:
a = a.replace(['kazakhstan', 'kazakh / kazakhstani'], 'kazakh')
a = a.replace(['kenya'], 'kenyan')
a = a.replace(['korea, south', 'korean'], 'south korean')
a = a.replace(['kosovo'], 'kosovan')
a = a.replace(['kuwait'], 'kuwaiti')
a = a.replace(['kyrgyzstan'], 'kyrgyz')
a = a.replace(['l', 'lao', 'laos', 'laotian / lao', 'laotian/lao'], 'laotian')
a = a.replace(['latvia'], 'latvian')
a = a.replace(['liberia'], 'liberian')
a = a.replace(['libya'], 'libyan')
a = a.replace(['lithuania'], 'lithuanian')
a = a.replace(['luxembourg'], 'luxembourgish')
a = a.replace(['macedonia'], 'macedonian')
a = a.replace(['malawi'], 'malawin')
a = a.replace(['malaysia'], 'malaysian')
a = a.replace(['maldives'], 'maldivian')
a = a.replace(['mali'], 'malian')
a = a.replace(['malta'], 'maltese')
a = a.replace(['mauritians', 'mauritius'], 'mauritian')
a = a.replace(['mexico'], 'mexican')
a = a.replace(['mongolia'], 'mongolian')
a = a.replace(['namibia'], 'namibian')
a = a.replace(['nepal', 'nepalese / nepali'], 'nepalese')
a = a.replace(['new zealand'], 'new zealander')
a = a.replace(['nicaragua'], 'nicaraguan')
a = a.replace(['nigeria', 'ไนจีเรีย'], 'nigerian')
a = a.replace(['norway'], 'norwegian')

In [ ]:
a = a.replace(['oman'], 'omani')
a = a.replace(['pakistan'], 'pakistani')
a = a.replace(['palestine'], 'palestinian')
a = a.replace(['philippines'], 'filipino')
a = a.replace(['poland'], 'polish')
a = a.replace(['portugal'], 'portuguese')
a = a.replace(['qatar', 'oatari'], 'qatari')
a = a.replace(['romania'], 'romanian')
a = a.replace(['russia'], 'russian')
a = a.replace(['senegal'], 'senegalese')
a = a.replace(['serbia'], 'serbian')
a = a.replace(['sierra leone'], 'sierra leonian')
a = a.replace(['singapore'], 'singaporean')
a = a.replace(['slovak / slovakian'], 'slovak')
a = a.replace(['slovenia', 'slovenian / slovene'], 'slovenian')
a = a.replace(['somali / somalian', 'somalia'], 'somali')
a = a.replace(['south africa'], 'south african')
a = a.replace(['south korea'], 'south korean')
a = a.replace(['spain'], 'spanish')
a = a.replace(['sri lanka'], 'sri lankan')
a = a.replace(['sudan'], 'sudanese')
a = a.replace(['swaziland'], 'swazi')
a = a.replace(['sweden', 'สวีเดน'], 'swedish')
a = a.replace(['switzerland'], 'swiss')
a = a.replace(['syria'], 'syrian')

In [ ]:
a = a.replace(['taiwan'], 'taiwanese')
a = a.replace(['tajik'], 'tajikistan')
a = a.replace(['tanzania'], 'tanzanian')
a = a.replace(['thailand'], 'thai')
a = a.replace(['timor-leste'], 'timorese')
a = a.replace(['tunisia'], 'tunisian')
a = a.replace(['turkey', 'turkcish'], 'turkish')
a = a.replace(['uganda'], 'ugandan')
a = a.replace(['ukraine'], 'ukrainian')
a = a.replace(['united kingdom'], 'british')
a = a.replace(['united states of america'], 'american')
a = a.replace(['uzbekistan'], 'uzbek')
a = a.replace(['vietnam'], 'vietnamese')
a = a.replace(['yemen', 'yemeni / yemenite'], 'yemeni')
a = a.replace(['zimbabwe'], 'zimbabwean')
a = a.replace(['ต่างด้าว'], 'other')
a = a.replace(['ลาว'], 'laotian')
a = a.replace(['ไม่มีสัญชาติ'], 'other')
a = a.replace(['ไม่ระบุ'], 'other')

In [ ]:
df['nationality'] = a.str.capitalize()
df.groupby('nationality').size()

use this ref to change nationality https://www.englishclub.com/vocabulary/world-countries-nationality.php

## cleaning Data [province_of_isolation]

In [ ]:
pd.set_option("display.max_rows", None)

In [ ]:
df.groupby('province_of_isolation').size()

### delete white space

In [ ]:
df['province_of_isolation'] = df['province_of_isolation'].str.strip()

### change duplicate data

In [ ]:
df['province_of_isolation'] = df['province_of_isolation'].replace(['กทม'], 'กรุงเทพมหานคร')
df['province_of_isolation'] = df['province_of_isolation'].replace(['ภููเก็ต'], 'ภูเก็ต')

In [ ]:
df['province_of_isolation'].nunique()

In [ ]:
pd.set_option("display.max_rows", 7)

In [ ]:
df.groupby('province_of_isolation').size()

In [ ]:
df['province_of_isolation'].value_counts()

## cleaning Data [risk]

In [ ]:
pd.set_option("display.max_rows", None)

### delete white space

In [ ]:
df['risk'] = df['risk'].str.strip()

### change to lower text

In [ ]:
df['risk'] = df['risk'].str.lower()

In [ ]:
df.groupby('risk').size()

### create new columns for new_risk

In [ ]:
# create a list of our conditions
conditions = [
    (df['risk'].str.contains('คนต่างชาติเดินทางมาจากต่างประเทศ', na=False)),
    (df['risk'].str.contains('อาชีพเสี่ยง', na=False)),
    (df['risk'].str.contains('สัมผัส', na=False)),
    (df['risk'].str.contains('acf', na=False)),
    (df['risk'].str.contains('cluster', na=False)),
    (df['risk'].str.contains('sandbox', na=False)),
    (df['risk'].str.contains('shui', na=False)),
    (df['risk'].str.contains('samui plus', na=False)),
    (df['risk'].str.contains('state quarantine', na=False)),
    (df['risk'].str.contains('test and go', na=False)),
    (df['risk'].str.contains('ค้นหา', na=False)),
    (df['risk'].str.contains('ต่างประเทศ', na=False)),
    (df['risk'].str.contains('พื้นที่เสี่ยง', na=False)),
    (df['risk'].str.contains('ตรวจก่อน', na=False)),
    (df['risk'].str.contains('ทัณฑสถาน', na=False)),
    (df['risk'].str.contains('บุคลากร', na=False)),
    (df['risk'].str.contains('ปอด', na=False)),
    (df['risk'].str.contains('ผู้ที่เดินทางมาจากต่างประเทศ', na=False)),
    (df['risk'].str.contains('พิธีกรรมทางศาสนา', na=False)),
    (df['risk'].str.contains('ระบุไม่ได้', na=False)),
    (df['risk'].str.contains('ผู้ต้องกัก', na=False)),
    (df['risk'].str.contains('สถานที่ทำงาน', na=False)),
    (df['risk'].str.contains('สถานบันเทิง', na=False)),
    (df['risk'].str.contains('สถานศึกษา', na=False)),
    (df['risk'].str.contains('สนามมวย', na=False)),
    (df['risk'].str.contains('อยู่ระหว่าง', na=False)),
    (df['risk'].str.contains('เดินทางมาจาก', na=False)),
    (df['risk'].str.contains('ไป', na=False)),
    (df['risk'].str.contains('ไม่ระบุ', na=False))
    ]

# create a list of the values we want to assign for each condition
values = ['ผู้ที่เดินทางมาจากต่างประเทศ','อาชีพเสี่ยง', 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้', 'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน', 'Cluster ตามสถานที่ต่างๆ','Sandbox','Sandbox', 'Sandbox', 'ผู้ที่เดินทางมาจากต่างประเทศ', 'ผู้ที่เดินทางมาจากต่างประเทศ','การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน',
          'ผู้ที่เดินทางมาจากต่างประเทศ', 'ไปสถานที่เสี่ยง', 'ตรวจเชื้อก่อนทำหัตถการ', 'ทัณฑสถาน/เรือนจำ', 'บุคลากรด้านการแพทย์และสาธารณสุข', 'ปอดอักเสบ',
          'ผู้ที่เดินทางมาจากต่างประเทศ', 'พิธีกรรมทางศาสนา', 'ระบุไม่ได้', 'ทัณฑสถาน/เรือนจำ', 'สถานที่ทำงาน','สถานบันเทิง','สถานศึกษา','Cluster ตามสถานที่ต่างๆ',
          'อยู่ระหว่างการสอบสวน', 'ไปสถานที่เสี่ยง', 'ไปสถานที่เสี่ยง', 'ระบุไม่ได้']

# create a new column and use np.select to assign values to it using our lists as arguments
df['new_risk'] = np.select(conditions, values, default = 'อื่นๆ')

# display updated DataFrame
df['new_risk'].value_counts()

## cleaning Data [province_of_onset]

In [ ]:
pd.set_option("display.max_rows", None)

### delete white space

In [ ]:
df['province_of_onset'] = df['province_of_onset'].str.strip()

### check duplicate data

In [ ]:
df.groupby('province_of_onset').size()

In [ ]:
df['province_of_onset'].value_counts()

In [ ]:
(df['province_of_onset'].value_counts() < 100)

In [ ]:
useful_province = list(df['province_of_onset'].value_counts().index[:82])

In [ ]:
df[df['province_of_onset'].isin(useful_province)]['province_of_onset'].value_counts()

In [ ]:
df[df['province_of_onset'].isin(useful_province)].groupby('province_of_onset').size()

### change duplicate data

In [ ]:
df['province_of_onset'] = df['province_of_onset'].replace(['กรุงเทพมหานคร.'], 'กรุงเทพมหานคร')
df['province_of_onset'] = df['province_of_onset'].replace(['กทม'], 'กรุงเทพมหานคร')
df['province_of_onset'] = df['province_of_onset'].replace(['นครศรีฯ'], 'นครศรีธรรมราช')
df['province_of_onset'] = df['province_of_onset'].replace(['นราธฺวาส'], 'นราธิวาส')
df['province_of_onset'] = df['province_of_onset'].replace(['สุราษฏร์ธานี'], 'สุราษฎร์ธานี')
df['province_of_onset'] = df['province_of_onset'].replace(['อยุธยา'], 'พระนครศรีอยุธยา')
df['province_of_onset'] = df['province_of_onset'].replace(['นครศรีฯ'], 'นครศรีธรรมราช')
df['province_of_onset'] = df['province_of_onset'].replace(['นครศรีฯ'], 'นครศรีธรรมราช')

In [ ]:
pd.set_option("display.max_rows", 7)

In [ ]:
df[df['province_of_onset'].isin(useful_province)].groupby('province_of_onset').size()

In [ ]:
df[df['province_of_onset'].isin(useful_province)]['province_of_onset'].value_counts()

## Delete row

### delete province of onset that have value < 100

In [ ]:
pd.set_option("display.max_rows", None)

In [ ]:
df['province_of_onset'].value_counts()

In [ ]:
unuse_province = list(df['province_of_onset'].value_counts().index[82:])

In [ ]:
unuse_province

In [ ]:
df = df.drop(df[df['province_of_onset'].isin(unuse_province)].index)

In [ ]:
df['province_of_onset'].isin(unuse_province).value_counts()

## Reset index

In [ ]:
df = df.reset_index()

In [ ]:
del df['index']

In [ ]:
df.tail()

In [ ]:
pd.set_option("display.max_rows", 7)

## Drop na for all

In [ ]:
#df['No.'].count()

In [ ]:
#del df['district_of_onset']
#del df['Notified date']

In [ ]:
#df_no_na = df.dropna()

In [ ]:
#df_no_na['No.'].count()

------------------------------------------------

# Stat Question

### 1.จากข้อมูลเดือนไหนมีคนติดโควิดเยอะที่สุด

In [ ]:
from matplotlib.dates import DateFormatter
import matplotlib.dates as mdates

In [ ]:
df['new_date_my'] = df['new_date'].dt.strftime('%m/%y')

In [ ]:
df['new_date_my']

In [ ]:
df['new_date_my'].nunique()

In [ ]:
fig, ax = plt.subplots(figsize=(15, 10))
ax.hist(df['new_date'], bins = 27, color = 'salmon')

# Define the date format
ax.xaxis.set_major_formatter(mdates.DateFormatter("%b %Y"))
ax.xaxis.set_major_locator(mdates.MonthLocator(interval=1))

ax.set_xlabel('Date', fontsize=20, color='black')
ax.set_ylabel('Count', fontsize=20)
ax.set_title('Histogram : COVID-19 cases in each month', fontsize=30)

plt.setp(ax.get_xticklabels(), rotation=30, ha="right")
ax.grid(True)
plt.style.use('seaborn-bright')
plt.show()

In [ ]:
#for style in plt.style.available:
    #print(style)

### 2.คนที่เดินทางมาจากต่างประเทศ คนชาติใดเป็น covid มากสุด และคนต่างชาติ ชาติใด ติดโควิดมากที่สุด 5 อันดับแรก

In [ ]:
df[df['new_risk'] == 'ผู้ที่เดินทางมาจากต่างประเทศ']['nationality'].value_counts()

In [ ]:
nat_df = df[df['new_risk'] == 'ผู้ที่เดินทางมาจากต่างประเทศ']['nationality'].value_counts()

In [ ]:
fig = px.bar(nat_df, x=nat_df.index, y=nat_df.values, 
                labels={
                     'index' : "Nationality",
                     'y' : "Count"
                 },
                title="COVID-19 confirm cases who came from abroad")
fig.show()

### 3.คนจังหวัดอะไรติดโควิดเยอะสุด 5 อันดับแรก

In [ ]:
df['province_of_onset'].value_counts().head(5)

### 4.ผู้ชายหรือผู้หญิงติดโควิดมากกว่ากัน

In [ ]:
df['sex'] = df['sex'].replace(['หญิง'], 'female')
df['sex'] = df['sex'].replace(['ชาย'], 'male')

In [ ]:
df['sex'].value_counts()

In [ ]:
df['sex'].value_counts(normalize=True)

In [ ]:
#df_s = df['sex'].value_counts()
#print('female percent :', round(df_s[0] / df_s.sum()*100), '%')
#print('male percent :', round(df_s[1] / df_s.sum()*100), '%')

In [ ]:
sns.set_style('ticks')
sns.countplot(x='sex',data= df, palette='bwr')
plt.show()

# Insight Question

### 1.คิดว่าตั้งแต่มีการระบาดของโรคโควิดในประเทศไทย ถ้ามีงบประมาณอยู่ก้อนนึง แล้วต้องการเพิ่มเตียงและบุคลกรณ์ทางการแพทย์ให้จังหวัดใดจังหวัดนึงได้ ควรเพิ่มในจังหวัดไหนมากที่สุด

In [ ]:
df[df['province_of_isolation'] != df['province_of_onset']]['province_of_onset'].value_counts().head()

In [ ]:
df_bkk = df[df['province_of_onset'] == 'กรุงเทพมหานคร']

In [ ]:
df_bkk[df_bkk['province_of_isolation'] != df_bkk['province_of_onset']]['province_of_isolation'].value_counts()

In [ ]:
fig = px.sunburst(df.dropna(subset=['province_of_onset', 'province_of_isolation']), path=['province_of_onset', 'province_of_isolation'])
fig.show()

### 2.ในช่วงสงกรานต์ที่จะถึง ถ้าออกแคมเปญเรื่องโควิดได้ ควรเน้นไปที่กลุ่มอายุไหน ในเรื่องใดเป็นพิเศษ

In [ ]:
sns.set_style('whitegrid')
sns.distplot(df['age'], bins = 12)
plt.xticks(range(0,121,10))
plt.show()

In [ ]:
''' import matplotlib.pyplot as plt
fig = plt.figure()
ax = fig.add_subplot(111)
ax.hist(df['age'], bins = 12)
plt.xticks(range(0,121,10))
plt.show() '''

In [ ]:
df[(df['age'] >= 20) & (df['age'] <= 40)]['new_risk'].value_counts().head(7)

-------------------

### 3.ถ้ามีบริษัทท่องเที่ยว ต้องการทำโปรโมชั่นท่องเที่ยวให้กับคนต่างชาติภายใต้หัวข้อ เที่ยวทั่วภาคห่างไกลโควิด เราจะวิเคราะห์ข้อมูลและแนะนำบริษัทเขาให้ทำโปรโมชั่นท่องเที่ยวในภูมิภาคไหน

In [ ]:
northern = ['เชียงราย', 'เชียงใหม่', 'น่าน', 'พะเยา', 'แพร่', 'แม่ฮ่องสอน', 'ลำปาง', 'ลำพูน', 'อุตรดิตถ์']
northeastern = ['กาฬสินธุ์', 'ขอนแก่น', 'ชัยภูมิ', 'นครพนม', 'นครราชสีมา', 'บึงกาฬ', 'บุรีรัมย์', 'มหาสารคาม', 'มุกดาหาร', 
                'ยโสธร', 'ร้อยเอ็ด', 'เลย', 'สกลนคร', 'สุรินทร์', 'ศรีสะเกษ', 'หนองคาย', 'หนองบัวลำภู', 'อุดรธานี', 'อุบลราชธานี', 'อำนาจเจริญ']
central = ['กรุงเทพมหานคร','กำแพงเพชร','ชัยนาท','นครนายก','นครปฐม','นครสวรรค์','นนทบุรี','ปทุมธานี','พระนครศรีอยุธยา','พิจิตร',
           'พิษณุโลก','เพชรบูรณ์','ลพบุรี','สมุทรปราการ','สมุทรสงคราม','สมุทรสาคร','สิงห์บุรี','สุโขทัย','สุพรรณบุรี','สระบุรี','อ่างทอง','อุทัยธานี']
eastern = ['จันทบุรี','ฉะเชิงเทรา','ชลบุรี','ตราด','ปราจีนบุรี','ระยอง','สระแก้ว']
western = ['กาญจนบุรี','ตาก','ประจวบคีรีขันธ์','เพชรบุรี','ราชบุรี']
southern = ['กระบี่','ชุมพร','ตรัง','นครศรีธรรมราช','นราธิวาส','ปัตตานี','พังงา','พัทลุง','ภูเก็ต','ระนอง','สตูล','สงขลา','สุราษฎร์ธานี','ยะลา']

In [ ]:
# create a list of our conditions
conditions = [
    (df['province_of_onset'].isin(northern)),
    (df['province_of_onset'].isin(northeastern)), 
    (df['province_of_onset'].isin(central)),
    (df['province_of_onset'].isin(eastern)), 
    (df['province_of_onset'].isin(western)), 
    (df['province_of_onset'].isin(southern)), 
]

# create a list of the values we want to assign for each condition
values = ['Northern', 'Northeastern', 'Central', 'Eastern', 'Western', 'Southern']

# create a new column and use np.select to assign values to it using our lists as arguments
df['region'] = np.select(conditions, values, default = None)

# display updated DataFrame
df['region'].value_counts()

In [ ]:
df_reg = df['region'].value_counts()

In [ ]:
plt.figure(figsize=(10, 8))
y = df_reg.values
mylabels = df_reg.index
myexplode = [0, 0, 0, 0, 0, 0.3]

plt.pie(y, labels = mylabels, explode = myexplode, autopct='%1.1f%%', textprops={'fontsize': 20})
plt.legend(loc = 1, fontsize = 12)
plt.show()

In [ ]:
#fig = plt.figure(figsize=(10,10))
#ax = fig.add_subplot(111)
#y = df_reg.values
#ax.pie(y, labels=mylabels, autopct='%1.1f%%', textprops={'fontsize': 20})
#plt.legend(loc=1 ,prop={'size': 15})
#plt.title('Thailand region', fontsize = 20)
#plt.show()

# export Data

In [ ]:
''' from google.colab import files
df.to_csv('datacovid.csv') 
files.download('datacovid.csv') '''