<a href="https://colab.research.google.com/github/macgyver121/DADS5001/blob/main/Exercise/Midterm_DADS5001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question for Test

คำถาม
- มีคนต่างชาติที่มาที่ติดโควิดที่ประเทศไทยเท่าไหร่
- คนที่เดินทางมาจากตต่างประเทศ ประเทศไหนติดโควิดมาจากต้นทางมากที่สุด
- ช่วงอายุไหนติดโควิดมากที่สุด
- ผู้ชายหรือผู้หญิงติดโควิดมากกว่ากัน
- ความเสี่ยงที่ทำให้คนติดเชื้อ 3 อันดับแรก คืออะไร
- ถ้าเราต้องพาพนักงานในบริษัทไปสัมนาที่ต่างจังหวัด โดยพนักงานเสนอจังหวัดดังนี้ เชียงใหม่ ขอนแก่น ภูเก็ต เราจะเลือก
จังหวัดไหนในการสัมนาโดยคำนึงถึงเรื่องโควิดเป็นสำคัญ

# Data preparation

## Import Data

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
!pwd

/content

In [9]:
import pandas as pd
import numpy as np

In [10]:
df1 = pd.read_csv('/content/drive/MyDrive/DADS/DADS5001/confirmed-cases.csv')
df2 = pd.read_csv('/content/drive/MyDrive/DADS/DADS5001/confirmed-cases-since-120864.csv')
df3 = pd.read_csv('/content/drive/MyDrive/DADS/DADS5001/confirmed-cases-since-271064.csv')
df4 = pd.read_csv('/content/drive/MyDrive/DADS/DADS5001/confirmed-cases-since-280265.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Check info

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839771 entries, 0 to 839770
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   No.                    839771 non-null  int64
 1   announce_date          839771 non-null  object
 2   Notified date          836976 non-null  object
 3   sex                    784876 non-null  object
 4   age                    763606 non-null  object
 5   Unit                   763746 non-null  object
 6   nationality            755567 non-null  object
 7   province_of_isolation  839499 non-null  object
 8   risk                   838677 non-null  object
 9   province_of_onset      740737 non-null  object
 10  district_of_onset      680992 non-null  object
dtypes: int64(1), object(10)
memory usage: 70.5+ MB

In [12]:
print(df1['No.'].count() + df2['No.'].count() + df3['No.'].count() + df4['No.'].count())

3111655

In [82]:
df = df1.append((df2,df3,df4))

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3111655 entries, 0 to 219256
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   No.                    int64
 1   announce_date          object
 2   Notified date          object
 3   sex                    object
 4   age                    object
 5   Unit                   object
 6   nationality            object
 7   province_of_isolation  object
 8   risk                   object
 9   province_of_onset      object
 10  district_of_onset      object
 11  Unnamed: 11            float64
dtypes: float64(1), int64(1), object(10)
memory usage: 308.6+ MB

In [15]:
df.tail(5)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
219252,3088869,9/3/2022,8/3/2022,ชาย,NaN,NaN,Thailand,นครพนม,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
219253,3088870,9/3/2022,8/3/2022,ชาย,NaN,NaN,Burmese,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
219254,3088871,9/3/2022,8/3/2022,ชาย,NaN,NaN,Thailand,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
219255,3088872,9/3/2022,8/3/2022,ชาย,NaN,NaN,Thailand,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
219256,3088873,9/3/2022,8/3/2022,ชาย,29.0,ปี,Burmese,ตาก,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [16]:
df = df.reset_index()

In [17]:
df.tail(5)

,index,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
3111650,219252,3088869,9/3/2022,8/3/2022,ชาย,NaN,NaN,Thailand,นครพนม,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
3111651,219253,3088870,9/3/2022,8/3/2022,ชาย,NaN,NaN,Burmese,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
3111652,219254,3088871,9/3/2022,8/3/2022,ชาย,NaN,NaN,Thailand,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
3111653,219255,3088872,9/3/2022,8/3/2022,ชาย,NaN,NaN,Thailand,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
3111654,219256,3088873,9/3/2022,8/3/2022,ชาย,29.0,ปี,Burmese,ตาก,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

## Delete unused column

In [18]:
del df['index']

In [19]:
del df['Unnamed: 11']

In [20]:
df.tail(5)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
3111650,3088869,9/3/2022,8/3/2022,ชาย,NaN,NaN,Thailand,นครพนม,ทัณฑสถาน/เรือนจำ,NaN,NaN
3111651,3088870,9/3/2022,8/3/2022,ชาย,NaN,NaN,Burmese,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
3111652,3088871,9/3/2022,8/3/2022,ชาย,NaN,NaN,Thailand,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
3111653,3088872,9/3/2022,8/3/2022,ชาย,NaN,NaN,Thailand,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
3111654,3088873,9/3/2022,8/3/2022,ชาย,29.0,ปี,Burmese,ตาก,ทัณฑสถาน/เรือนจำ,NaN,NaN

## check null

In [21]:
df.isnull().sum()

No.                           0
announce_date                 0
Notified date              2795
sex                      170589
age                      256920
Unit                     277092
nationality              268489
province_of_isolation      3956
risk                       1174
province_of_onset        378350
district_of_onset        485107
dtype: int64

## cleaning Data [sex]

In [22]:
df['sex'].value_counts()

หญิง      1546128
ชาย       1394915
นาย             9
หญิิง           5
ช               3
 หญิง           1
ร.ต.ท.          1
หห              1
หญง             1
ญ               1
หณิง            1
Name: sex, dtype: int64

In [23]:
df['sex'] = df['sex'].str.strip()

In [24]:
df['sex'] = df['sex'].replace(['นาย','ช','ร.ต.ท.'], 'ชาย')

In [25]:
df['sex'] = df['sex'].replace(['หญิิง','หห','หญง','ญ','หณิง'], 'ชาย')

In [26]:
df['sex'].value_counts()

หญิง    1546129
ชาย     1394937
Name: sex, dtype: int64

## cleaning Data [age]

In [27]:
age = df['age'].unique()

In [28]:
df[df['age'] == '55/664']

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
100164,100165,16/5/2021,15/5/2021,หญิง,55/664,NaN,Thailand,ภูเก็ต,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ภูเก็ต,เมือง

In [29]:
df[df['age'] == '35/11']

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
2620435,2597654,14/2/2022,13/2/2022,หญิง,35/11,NaN,Thailand,ประจวบคีรีขันธ์,อยู่ระหว่างการสอบสวน,ประจวบคีรีขันธ์,บางสะพาน

### delete row that age = 55/664, 35/11

In [30]:
df = df.drop(100164)
df = df.drop(2620435)

In [31]:
df['age'] = df['age'].astype(float)

### delete row that age more than 122 (highest human age in the world)

In [32]:
index_age_error = df[df['age'] > 122].index

In [33]:
df = df.drop(index_age_error)

In [34]:
df['age'].sort_values(ascending = False)

2840765    122.0
2841007    122.0
2295985    121.0
2382449    121.0
1823216    119.0
           ...
3111649      NaN
3111650      NaN
3111651      NaN
3111652      NaN
3111653      NaN
Name: age, Length: 3111643, dtype: float64

### check value

In [35]:
df['age'].value_counts()

25.000000    71153
26.000000    69871
24.000000    69415
30.000000    68444
27.000000    68238
             ...
54.240166        1
54.280807        1
54.321448        1
54.362089        1
4.300000         1
Name: age, Length: 1215, dtype: int64

In [36]:
df['age'].isna().sum()

256920

## cleaning Data [unit]

In [37]:
df['Unit'] = df['Unit'].str.strip()

In [38]:
df['Unit'].value_counts()

ปี       2821098
เดือน      12627
วัน          835
Name: Unit, dtype: int64

### change person that age is month and day to 0 year

In [39]:
unit_md_index = df[df['Unit'].isin(['เดือน', 'วัน'])].index

In [40]:
df.loc[unit_md_index, 'age'] = 0

In [41]:
df[df['Unit'].isin(['เดือน', 'วัน'])]

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
301,302,20/3/2020,NaN,ชาย,0.0,เดือน,Thailand,ภูเก็ต,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ภูเก็ต,เมือง
1076,1077,27/3/2020,26/3/2020,ชาย,0.0,เดือน,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,กาญจนดิษฐ์
1676,1677,1/4/2020,31/3/2020,ชาย,0.0,เดือน,Japan,กรุงเทพมหานคร,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,กรุงเทพมหานคร,NaN
1988,1989,4/4/2020,3/4/2020,ชาย,0.0,เดือน,Thailand,ระยอง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ระยอง,บ้านฉาง
3507,3508,22/9/2020,21/9/2020,ชาย,0.0,เดือน,India,กรุงเทพมหานคร,ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ,กรุงเทพมหานคร,พระนคร
...,...,...,...,...,...,...,...,...,...,...,...
3107814,3085033,9/3/2022,8/3/2022,ชาย,0.0,เดือน,Thailand,สตูล,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สตูล,เมืองพิมาน
3107889,3085108,9/3/2022,8/3/2022,หญิง,0.0,เดือน,Thailand,สตูล,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สตูล,ควนโดน
3107897,3085116,9/3/2022,8/3/2022,หญิง,0.0,เดือน,Thailand,สตูล,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สตูล,ควนโดน
3107901,3085120,9/3/2022,8/3/2022,หญิง,0.0,เดือน,Thailand,สตูล,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สตูล,ควนโดน
3107974,3085193,9/3/2022,8/3/2022,หญิง,0.0,เดือน,Thailand,สตูล,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สตูล,ทุ่งหว้า

In [42]:
df.loc[unit_md_index, 'Unit'] = 'ปี'

In [43]:
df['Unit'].value_counts()

ปี    2834560
Name: Unit, dtype: int64

## cleaning Data [nationality]

### setting show all data

In [44]:
pd.set_option("display.max_rows", 7)

### change to lower text

In [45]:
df['nationality'] = df['nationality'].str.lower()

### delete white space

In [46]:
df['nationality'] = df['nationality'].str.strip()

In [47]:
df['nationality'].head()

0       china
1       china
2    thailand
3       china
4       china
Name: nationality, dtype: object

### change duplicate data

In [48]:
a = df['nationality'].replace(['afghan / afghani','afghanistan'], 'afghan')
a = a.replace(['albania'], 'albanian')
a = a.replace(['algeria'], 'algerian')
a = a.replace(['american samoa'], 'american samoan')
a = a.replace(['americans','อเมริกา'], 'american')
a = a.replace(['arabi'], 'saudi arabian')
a = a.replace(['argentina', 'argentine / argentinian'], 'argentine')
a = a.replace(['armenia'], 'armenian')
a = a.replace(['au', 'australia'], 'australian')
a = a.replace(['austria'], 'austrian')
a = a.replace(['azerbaijan'], 'azerbaijani')
a = a.replace(['bahrain'], 'bahraini')
a = a.replace(['bangladesh'], 'bangladeshi')
a = a.replace(['belarus'], 'belarusian')
a = a.replace(['belgium'], 'belgian')
a = a.replace(['bermuda'], 'bermudain')
a = a.replace(['bhutan'], 'bhutanese')
a = a.replace(['bosnian/herzegovinian'], 'bosnian')
a = a.replace(['brazil', 'บราซิล'], 'brazilian')
a = a.replace(['british / english', 'british / northern irish', 'british / scottish', 'british / welsh', 'british/english'], 'british')
a = a.replace(['brunei'], 'bruneian')
a = a.replace(['bulgaria'], 'bulgarian')
a = a.replace(['burma', 'myanmar', 'พม่า', 'ไทยใหญ่', 'ไทใหญ่'], 'burmese')
a = a.replace(['cambodia', 'กัมพูชา'], 'cambodian')
a = a.replace(['cameroon'], 'cameroonian')
a = a.replace(['canada'], 'canadian')
a = a.replace(['china', 'จีน'], 'chinese')
a = a.replace(['colombia'], 'colombian')
a = a.replace(['congo', 'congo (brazzaville)'], 'congolese')
a = a.replace(['croatia'], 'croatian')
a = a.replace(['cuba'], 'cuban')
a = a.replace(['czechia'], 'czech')

In [49]:
a = a.replace(['denmark'], 'danish')
a = a.replace(['deutsch'], 'german')
a = a.replace(['netherlands'], 'dutch')
a = a.replace(['egypt'], 'egyptian')
a = a.replace(['emirate', 'uae', 'united arab emirates'], 'emirati')
a = a.replace(['eritrea'], 'eritrean')
a = a.replace(['estonia'], 'estonian')
a = a.replace(['ethiopia'], 'ethiopian')
a = a.replace(['philipines'], 'filipino')
a = a.replace(['finland'], 'finnish')
a = a.replace(['franch', 'french guiana'], 'french')
a = a.replace(['gambia', 'gambia, the'], 'gambian')
a = a.replace(['germany', 'germen', 'gremany'], 'german')
a = a.replace(['ghana'], 'ghanaian')
a = a.replace(['greece'], 'greek')
a = a.replace(['guinea'], 'guinean')
a = a.replace(['hong kong'], 'chinese')
a = a.replace(['hungary'], 'hungarian')
a = a.replace(['iceland'], 'icelandic')
a = a.replace(['india', 'india-thailand'], 'indian')
a = a.replace(['indonesia'], 'indonesian')
a = a.replace(['iran'], 'iranian')
a = a.replace(['iraq'], 'iraqi')
a = a.replace(['ireland'], 'irish')
a = a.replace(['israel'], 'israeli')
a = a.replace(['italy'], 'italian')
a = a.replace(['japan'], 'japanese')
a = a.replace(['jordan'], 'jordanian')

In [50]:
a = a.replace(['kazakhstan', 'kazakh / kazakhstani'], 'kazakh')
a = a.replace(['kenya'], 'kenyan')
a = a.replace(['korea, south', 'korean'], 'south korean')
a = a.replace(['kosovo'], 'kosovan')
a = a.replace(['kuwait'], 'kuwaiti')
a = a.replace(['kyrgyzstan'], 'kyrgyz')
a = a.replace(['l', 'lao', 'laos', 'laotian / lao', 'laotian/lao'], 'laotian')
a = a.replace(['latvia'], 'latvian')
a = a.replace(['liberia'], 'liberian')
a = a.replace(['libya'], 'libyan')
a = a.replace(['lithuania'], 'lithuanian')
a = a.replace(['luxembourg'], 'luxembourgish')
a = a.replace(['macedonia'], 'macedonian')
a = a.replace(['malawi'], 'malawin')
a = a.replace(['malaysia'], 'malaysian')
a = a.replace(['maldives'], 'maldivian')
a = a.replace(['mali'], 'malian')
a = a.replace(['malta'], 'maltese')
a = a.replace(['mauritians', 'mauritius'], 'mauritian')
a = a.replace(['mexico'], 'mexican')
a = a.replace(['mongolia'], 'mongolian')
a = a.replace(['namibia'], 'namibian')
a = a.replace(['nepal', 'nepalese / nepali'], 'nepalese')
a = a.replace(['new zealand'], 'new zealander')
a = a.replace(['nicaragua'], 'nicaraguan')
a = a.replace(['nigeria', 'ไนจีเรีย'], 'nigerian')
a = a.replace(['norway'], 'norwegian')

In [51]:
a = a.replace(['oman'], 'omani')
a = a.replace(['pakistan'], 'pakistani')
a = a.replace(['palestine'], 'palestinian')
a = a.replace(['philippines'], 'filipino')
a = a.replace(['poland'], 'polish')
a = a.replace(['portugal'], 'portuguese')
a = a.replace(['qatar', 'oatari'], 'qatari')
a = a.replace(['romania'], 'romanian')
a = a.replace(['russia'], 'russian')
a = a.replace(['senegal'], 'senegalese')
a = a.replace(['serbia'], 'serbian')
a = a.replace(['sierra leone'], 'sierra leonian')
a = a.replace(['singapore'], 'singaporean')
a = a.replace(['slovak / slovakian'], 'slovak')
a = a.replace(['slovenia', 'slovenian / slovene'], 'slovenian')
a = a.replace(['somali / somalian', 'somalia'], 'somali')
a = a.replace(['south africa'], 'south african')
a = a.replace(['south korea'], 'south korean')
a = a.replace(['spain'], 'spanish')
a = a.replace(['sri lanka'], 'sri lankan')
a = a.replace(['sudan'], 'sudanese')
a = a.replace(['swaziland'], 'swazi')
a = a.replace(['sweden', 'สวีเดน'], 'swedish')
a = a.replace(['switzerland'], 'swiss')
a = a.replace(['syria'], 'syrian')

In [52]:
a = a.replace(['taiwan'], 'taiwanese')
a = a.replace(['tajik'], 'tajikistan')
a = a.replace(['tanzania'], 'tanzanian')
a = a.replace(['thailand'], 'thai')
a = a.replace(['timor-leste'], 'timorese')
a = a.replace(['tunisia'], 'tunisian')
a = a.replace(['turkey', 'turkcish'], 'turkish')
a = a.replace(['uganda'], 'ugandan')
a = a.replace(['ukraine'], 'ukrainian')
a = a.replace(['united kingdom'], 'british')
a = a.replace(['united states of america'], 'american')
a = a.replace(['uzbekistan'], 'uzbek')
a = a.replace(['vietnam'], 'vietnamese')
a = a.replace(['yemen', 'yemeni / yemenite'], 'yemeni')
a = a.replace(['zimbabwe'], 'zimbabwean')
a = a.replace(['ต่างด้าว'], 'other')
a = a.replace(['ลาว'], 'laotian')
a = a.replace(['ไม่มีสัญชาติ'], 'other')
a = a.replace(['ไม่ระบุ'], 'other')

In [53]:
df['nationality'] = a.str.capitalize()
df.groupby('nationality').size()

nationality
Afghan        18
African       23
Albanian      13
              ..
Yemeni        11
Zambian        2
Zimbabwean     5
Length: 144, dtype: int64

use this ref to change nationality https://www.englishclub.com/vocabulary/world-countries-nationality.php

## cleaning Data [province_of_isolation]

In [54]:
pd.set_option("display.max_rows", 7)

### delete white space

In [55]:
df['province_of_isolation'] = df['province_of_isolation'].str.strip()

### change duplicate data

In [56]:
df['province_of_isolation'] = df['province_of_isolation'].replace(['กทม'], 'กรุงเทพมหานคร')
df['province_of_isolation'] = df['province_of_isolation'].replace(['ภููเก็ต'], 'ภูเก็ต')

In [57]:
df['province_of_isolation'].nunique()

77

In [58]:
df.groupby('province_of_isolation').size()

province_of_isolation
กระบี่            18350
กรุงเทพมหานคร    601231
กาญจนบุรี         34437
                  ...
เลย                9470
แพร่               5221
แม่ฮ่องสอน         4243
Length: 77, dtype: int64

In [59]:
df['province_of_isolation'].value_counts()

กรุงเทพมหานคร    601231
สมุทรปราการ      191016
ชลบุรี           168600
                  ...
อำนาจเจริญ         5244
แพร่               5221
แม่ฮ่องสอน         4243
Name: province_of_isolation, Length: 77, dtype: int64

## cleaning Data [risk]

In [85]:
df = df1.append((df2,df3,df4))

In [87]:
df.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN

In [68]:
pd.set_option("display.max_rows", None)

### delete white space

In [103]:
df['risk'] = df['risk'].str.strip()

### change to lower text

In [104]:
df['risk'] = df['risk'].str.lower()

In [105]:
df.groupby('risk').size()

risk
10.อื่นๆ                                                                                 88
2.สัมผัสผู้ติดเชื้อ                                                                      92
8.สำรวจกลุ่มเสี่ยง (survey)                                                               1
9.ขอตรวจหาเชื้อเอง                                                                        2
acf รองเมือง                                                                             24
acf สนามกีฬาธูปะเตมีย์                                                                   23
acf สนามกีฬาไทย-ญี่ปุ่น                                                                 135
acf สีลม                                                                                110
acf เคหะหลักสี่                                                                           4
bkk sandbox                                                                              28
chonburi sandbox                                                                        164
cluster icon siam                                                                        11
cluster memory 90's กรุงเทพมหานคร                                                        40
cluster new jazz กรุงเทพมหานคร                                                           23
cluster the lounge salaya                                                                11
cluster คลองเตย                                                                         674
cluster งานมอเตอร์ โชว์                                                                   1
cluster จนท. สนามบินสุวรรณภูมิ                                                            4
cluster จันทบุรี                                                                         75
cluster จันทบุรี (ชาวกินี )                                                              12
cluster จันทบุรี (ชาวกินี)                                                               26
cluster ชลบุรี                                                                           62
cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)                                                    1
cluster ชลบุรี บริษัทไดกิ้น                                                               3
cluster ชลบุรี โรงเบียร์ 90                                                               9
cluster ตราด                                                                              9
cluster ตลาดนนทบุรี                                                                      85
cluster ตลาดบางพลี                                                                       15
cluster ตลาดบางแค                                                                         1
cluster ตลาดพรพัฒน์                                                                     559
cluster ตลาดสี่มุมเมือง                                                                 344
cluster บริษัทศรีสวัสดิ์                                                                 16
cluster บางแค                                                                           678
cluster บ่อนพัทยา/ชลบุรี                                                                 98
cluster บ่อนเทพารักษ์                                                                    12
cluster บ่อนไก่อ่างทอง                                                                   69
cluster ปากช่อง                                                                           2
cluster ผับ thonglor                                                                   1094
cluster มหาสารคาม                                                                        23
cluster ระยอง                                                                           483
cluster สถานบันเทิงย่านทองหล่อ                                                            3
cluster สมุทรปราการ (โรงงาน บริษัทเมทัล โปรดักส์)                                        19
cluster สมุทรปราการ grp hightech                                                        130
cluster สมุทรปราการ ตลาดเคหะบางพลี                                                        1
cluster สมุทรสาคร                                                                     17900
cluster ห้างแสงทอง (สายล่าง)                                                             16
cluster เครือคัสเซ่อร์พีคโฮลดิ้ง (cpg,cph)                                               55
cluster โรงงาน big star                                                                  65
cluster โรงงาน qpp ประจวบฯ                                                               69
cluster โรงงาน standard can                                                               7
cluster โรงงานทำขนม บางขุนเทียน                                                           1
karbi sandbox                                                                             5
krabi sandbox                                                                            20
narathiwat sandbox                                                                        3
phang nga sandbox                                                                        94
phangnga sandbox                                                                          1
phare sandbox                                                                             2
phrae sandbox                                                                             1
phuket sandbox                                                                         6406
phunga sandbox                                                                           14
prachuap sandbox                                                                          5
rayong sandbox                                                                            2
samui plus                                                                              238
samut prakan sandbox                                                                      5
sandbox                                                                                  82
shui                                                                                      1
songkhla sandbok                                                                          3
state quarantine                                                                       3844
surin sandbox                                                                             1
test and go                                                                            5718
trat sandbox                                                                              2
udon sandbox                                                                              1
กลับมาจาก จ.กรุงเทพมหานคร.                                                                1
การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน                                     251441
คนต่างชาติเดินทางมาจากต่างประเทศ                                                        518
คนไทยมาจากพื้นที่เสี่ยง                                                                   1
คนไทยเดินทางกลับจากต่างประเทศ                                                           988
คนไทยเดินทางมาจากต่างประเทศ                                                               1
ค้นหาเชิงรุก                                                                              1
ตรวจก่อนทำหัตถการ                                                                      7759
ตรวจก่อนทำหัถตการ                                                                         7
ตรวจสุขภาพแรงงานต่างด้าว                                                                  1
ตลาด                                                                                      1
ติดเชื้อในพื้นที่ (สัมผัส ผป.ยืนยัน)                                                      1
ทัณฑสถาน/เรือนจำ                                                                      92590
นักกีฬา                                                                                   5
บุคลากรด้านการแพทย์และสาธารณสุข                                                       17558
บุคลากรทางการเเพทย์                                                                       2
ปอดอักเสบ (pneumonia)                                                                  3462
ปอดอักเสบ pneumonia                                                                       1
ปอดอักเสบ(pneumonia)                                                                      1
ผับหัวหิน                                                                                 1
ผู้ติดเชื้อในประเทศ                                                                       1
ผู้ที่เดินทางมาจากต่างประเทศ และเข้า aoq                                                  2
ผู้ที่เดินทางมาจากต่างประเทศ และเข้า aq                                                1396
ผู้ที่เดินทางมาจากต่างประเทศ และเข้า asq/alq                                           1307
ผู้ที่เดินทางมาจากต่างประเทศ และเข้า hq/ahq                                             104
ผู้ที่เดินทางมาจากต่างประเทศ และเข้า oq                                                 320
ผู้ป่วย pui                                                                               2
ผู้ป่วย กรุงเทพมหานคร                                                                     1
ผู้เดินทางมาจากพื้นที่เสี่ยง กรุงเทพมหานคร                                                2
พิธีกรรมทางศาสนา                                                                       2906
พื้นที่เสียง                                                                              1
มาจากพื้นที่เสียง จ.ปทุมธานี                                                              1
มาจากพื้นที่เสี่ยง                                                                        1
มาจากพื้นที่เสี่ยง จ.ปทุมธานี                                                             1
มีอาการ มาจาก กรุงเทพมหานคร. พนักงานร้านอาหาร                                             1
รอประสาน                                                                                  2
ระบุไม่ได้                                                                            33506
ระหว่างการสอบสวนโรค                                                                       8
ระหว่างสอบสวน                                                                             1
รับจ้างขนของที่ตลาดท่ายาง                                                                 1
ร่วมงานศพในหมู่บ้านทุกวัน                                                                 1
ร้านอาหาร                                                                                 2
ศูนย์กักกัน ผู้ต้องกัก                                                                  469
สถานที่ทำงาน                                                                          87614
สถานบันเทิง                                                                            8907
สถานประกอบการ                                                                             1
สถานศึกษา                                                                              5162
สน.วัดพระยาไกร                                                                            1
สนามมวย                                                                                 301
สัมผัสผู้ติดเชื้อยืนยัน\n  อยู่ระหว่างสอบสวน                                              5
สัมผัสผู้ติดเชื้อยืนยัน\nอยู่ระหว่างสอบสวน                                                1
สัมผัสผู้ป่วยที่ติดโควิด                                                                  4
สัมผัสผู้ป่วยยืนยัน                                                                      38
สัมผัสผู้ป่วยยืนยัน \n  อยู่ระหว่างสอบสวน                                                 3
สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)                                                 1
สัมผัสผู้ป่วยยืนยัน ภายในครอบครัว/ชุมชน/เพื่อน                                           11
สัมผัสผู้ป่วยยืนยัน อยู่ระหว่างสอบสวน                                                     6
สัมผัสผู้ป่วยยืนยันภายในชุมชน                                                            17
สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน                                                          1
สัมผัสผู้เดินทางจากต่างประเทศ                                                            52
สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)                                                     1
สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้                                         1326122
สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้ใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้          1
สัมผัสใกล้ชิดผู้ป่วยยันยันก่อนหน้า                                                       18
สัมผัสใกล้ชิดผู้ป่วยยืนยันก่อนหน้า                                                       13
สัมผัสในสถานพยาบาล                                                                        4
อยู่ระหว่างการสอบสวน                                                                 276606
อยู่ระหว่างสอบสวน                                                                        20
อยู่ระหว่างสอบสวนโรค                                                                     10
อาชีพเสี่ยง                                                                               1
อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงานใกล้ชิดสัมผัสชาวต่างชาติ เป็นต้น         4488
อิ่นๆ                                                                                     1
อื่น                                                                                     14
อื่น ๆ                                                                                   75
อื่นๆ                                                                                868675
เดินทางจากพื้นที่เสี่ยง                                                                   2
เดินทางมาจากพื้นที่จังหวัดเสี่ยง                                                          1
เดินทางมาจากพื้นที่มีการระบาดของโรค                                                       1
เดินทางมาจากพื้นที่ระบาด                                                                 15
เดินทางมาจากพื้นที่เสี่ยง จ.กรุงเทพฯ จอมทอง                                               1
เดินทางมาจากพื้นที่เสี่ยงที่มีการระบาดของโรค                                              5
เพื่อเฝ้าระวังเชื้อกลายพันธุ์                                                             1
แรงงานต่างด้าวตรวจก่อนขึ้นทะเบียน                                                         1
ในพื้นที่                                                                                 4
ไปยัง/มาจาก พื้นที่ระบาดกรุงเทพมหานคร                                                     1
ไปยังพื้นที่ที่มีการระบาด                                                                 3
ไปสถานที่ชุมชน                                                                            9
ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว                                         73907
ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน                                                    1
ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต                                                  4144
ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค ubar                                         1
ไปแหล่งชุมชน/สถานที่คนหนาแน่น                                                             5
ไม่ระบุ                                                                                   4
dtype: int64

In [110]:
# create a list of our conditions
conditions = [
    (df['risk'].str.contains('อื่น', na=False)),
    (df['risk'].str.contains('สัมผัส', na=False)),
    (df['risk'].str.contains('acf', na=False)),
    (df['risk'].str.contains('cluster', na=False)),
    (df['risk'].str.contains('sandbox', na=False)),
    (df['risk'].str.contains('shui', na=False)),
    (df['risk'].str.contains('samui plus', na=False)),
    (df['risk'].str.contains('state quarantine', na=False)),
    (df['risk'].str.contains('test and go', na=False)),
    (df['risk'].str.contains('ค้นหา', na=False)),
    (df['risk'].str.contains('ต่างประเทศ', na=False)),
    (df['risk'].str.contains('พื้นที่เสี่ยง', na=False))
    ]

# create a list of the values we want to assign for each condition
values = ['อื่นๆ', 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้', 'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน', 'Cluster ตามสถานที่ต่างๆ','Sandbox','Sandbox', 'Sandbox', 'ผู้ที่เดินทางมาจากต่างประเทศ', 'ผู้ที่เดินทางมาจากต่างประเทศ','การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน',
          'ผู้ที่เดินทางมาจากต่างประเทศ', 'ไปสถานที่เสี่ยง']

# create a new column and use np.select to assign values to it using our lists as arguments
df['new_column'] = np.select(conditions, values, default = 'ไม่ระบุ')

# display updated DataFrame
df['new_column'].value_counts()

สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้         1330879
อื่นๆ                                                868852
ไม่ระบุ                                              616194
การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน     251738
Cluster ตามสถานที่ต่างๆ                               22706
ผู้ที่เดินทางมาจากต่างประเทศ                          14198
Sandbox                                                7075
ไปสถานที่เสี่ยง                                          13
Name: new_column, dtype: int64

------------------------------------------------

## Drop na for all

In [60]:
#df['No.'].count()

In [61]:
#df_no_na = df.dropna()

In [62]:
#df_no_na['No.'].count()

## Visualization

In [63]:
''' import matplotlib.pyplot as plt
fig = plt.figure()
ax = fig.add_subplot(111)
ax.hist(df['age'], bins = 12)
plt.xticks(range(0,121,10))
plt.show() '''

" import matplotlib.pyplot as plt\nfig = plt.figure()\nax = fig.add_subplot(111)\nax.hist(df['age'], bins = 12)\nplt.xticks(range(0,121,10))\nplt.show() "

## export Data

In [64]:
''' from google.colab import files
df.to_csv('datacovid.csv') 
files.download('datacovid.csv') '''

" from google.colab import files\ndf.to_csv('datacovid.csv') \nfiles.download('datacovid.csv') "