<a href="https://colab.research.google.com/github/macgyver121/DADS5001/blob/main/Exercise/ThaiPatent-Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. โหลดข้อมูลมาจาก https://data.go.th/dataset/data-patent⚓

In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/ekaratnida/DADS5001-Data-Analytics-and-Data-Science-Tools-and-Programming/main/datasets/data_patent.csv'
patent = pd.read_csv(url, sep=',')
patent.head()

   Patent_ Owner              Type_Patent Category  Year   Total
0            ไทย  สิทธิบัตรการประดิษฐ์      ยื่นขอ  2557     983
1       ต่างชาติ  สิทธิบัตรการประดิษฐ์      ยื่นขอ  2557   6,947
2            ไทย  สิทธิบัตรการประดิษฐ์      ยื่นขอ  2558   1,029
3       ต่างชาติ  สิทธิบัตรการประดิษฐ์      ยื่นขอ  2558   7,138
4            ไทย  สิทธิบัตรการประดิษฐ์      ยื่นขอ  2559   1,098

In [ ]:
patent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0    Patent_ Owner  40 non-null     object
 1   Type_Patent     40 non-null     object
 2   Category        40 non-null     object
 3   Year            40 non-null     int64
 4    Total          40 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.7+ KB

# แบบฝึกหัด
1. นับจำนวนว่ามี ไทย owner เท่าไหร่ ต่างชาติ owner เท่าไหร่ ใน file นี้
2. column Type_Patent มีกี่ type 
3. Column Category มีกี่ category
4. หา Unique year, min, max
5. หา Total patent

In [ ]:
x = patent[patent[" Patent_ Owner"] == "ไทย"][" Total "]
x

In [ ]:
totalThai = [int(value.replace(',','')) for value in x]
print("Thai own", sum(totalThai))

Thai own 32621

Answer 2

In [ ]:
patent.Type_Patent.unique()
#patent.Type_Patent.nunique()

array(['สิทธิบัตรการประดิษฐ์   ', 'สิทธิบัตรการออกแบบผลิตภัณฑ์'],
      dtype=object)

Answer 3

In [ ]:
patent.Category.unique()

array(['ยื่นขอ', 'จด'], dtype=object)

Answer 4

In [ ]:
print(patent.Year.unique())
print("Max", patent.Year.max())
print("Min", patent.Year.min())

[2557 2558 2559 2560 2561]
Max 2561
Min 2557

Answer 5

In [ ]:
y = patent[" Total "]
total = [int(value.replace(',','')) for value in y]
sum(total)

92491