<a href="https://colab.research.google.com/github/macgyver121/DADS5001/blob/main/week6/ThaiPatent-exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. โหลดข้อมูลมาจาก https://data.go.th/dataset/data-patent⚓

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url = 'https://raw.githubusercontent.com/ekaratnida/DADS5001-Data-Analytics-and-Data-Science-Tools-and-Programming/main/datasets/data_patent.csv'
patent = pd.read_csv(url, sep=',')
patent.head()

   Patent_ Owner              Type_Patent Category  Year   Total
0            ไทย  สิทธิบัตรการประดิษฐ์      ยื่นขอ  2557     983
1       ต่างชาติ  สิทธิบัตรการประดิษฐ์      ยื่นขอ  2557   6,947
2            ไทย  สิทธิบัตรการประดิษฐ์      ยื่นขอ  2558   1,029
3       ต่างชาติ  สิทธิบัตรการประดิษฐ์      ยื่นขอ  2558   7,138
4            ไทย  สิทธิบัตรการประดิษฐ์      ยื่นขอ  2559   1,098

In [ ]:
patent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0    Patent_ Owner  40 non-null     object
 1   Type_Patent     40 non-null     object
 2   Category        40 non-null     object
 3   Year            40 non-null     int64
 4    Total          40 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.7+ KB

# แบบฝึกหัด
1. นับจำนวนว่ามี ไทย owner เท่าไหร่ ต่างชาติ owner เท่าไหร่ ใน file นี้
2. column Type_Patent มีกี่ type 
3. Column Category มีกี่ category
4. หา Unique year, min, max
5. หา Total patent
6. ตั้งคำถาม และหาคำตอบ 3 คำถาม

In [ ]:
# นับจำนวนว่ามี ไทย owner เท่าไหร่ ต่างชาติ owner เท่าไหร่ ใน file นี้
patent[' Patent_ Owner'].value_counts()

ไทย         20
ต่างชาติ    20
Name:  Patent_ Owner, dtype: int64

In [ ]:
# column Type_Patent มีกี่ type
patent['Type_Patent'].unique()

array(['สิทธิบัตรการประดิษฐ์   ', 'สิทธิบัตรการออกแบบผลิตภัณฑ์'],
      dtype=object)

In [ ]:
# Column Category มีกี่ category
patent['Category'].unique()

array(['ยื่นขอ', 'จด'], dtype=object)

In [ ]:
# หา Unique year, min, max
print(patent['Year'].unique().max())
print(patent['Year'].unique().min())

2561
2557

In [ ]:
patent['Year'].aggregate([np.max, np.min])

amax    2561
amin    2557
Name: Year, dtype: int64

In [ ]:
patent.columns

Index([' Patent_ Owner', 'Type_Patent', 'Category', 'Year', ' Total '], dtype='object')

In [ ]:
patent[' Total '] = patent[' Total '].aggregate(lambda x : x.replace(',', '')).astype('int')

In [ ]:
# หา Total patent
patent[' Total '].sum()

92491

In [ ]:
# 1 มี total patent เท่าไหร่ แยกตามคนไทยและคนต่างชาติ
patent.groupby(' Patent_ Owner')[' Total '].sum()

 Patent_ Owner
ต่างชาติ    59870
ไทย         32621
Name:  Total , dtype: int64

In [ ]:
# 2 ปีไหนมี patent รวมสูงที่สุด
patent.groupby('Year')[' Total '].sum()

Year
2557    15770
2558    17703
2559    18336
2560    19628
2561    21054
Name:  Total , dtype: int64

In [ ]:
# 3 ในแต่ละปีมีคนไทยและคนต่างชาติทำ patent เฉลี่ยที่เท่าไหร่
patent.groupby(['Year', ' Patent_ Owner']).mean()

                      Total
Year  Patent_ Owner
2557 ต่างชาติ        2614.75
     ไทย             1327.75
2558 ต่างชาติ        2840.00
     ไทย             1585.75
2559 ต่างชาติ        2877.00
     ไทย             1707.00
2560 ต่างชาติ        3192.75
     ไทย             1714.25
2561 ต่างชาติ        3443.00
     ไทย             1820.50

----------------------------------------

In [ ]:
patent.columns = patent.columns.str.replace(' ', '')

In [ ]:
patent.columns

Index(['Patent_Owner', 'Type_Patent', 'Category', 'Year', 'Total'], dtype='object')