<a href="https://colab.research.google.com/github/macgyver121/DADS5001/blob/main/week6/Auto_MPG/Exercises_with_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MPG Cars

Check out [Cars Exercises Video Tutorial](https://www.youtube.com/watch?v=avzLRBxoguU&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=3) to watch a data scientist go through the exercises

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [ ]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement  ... Unnamed: 11  Unnamed: 12  Unnamed: 13
0  18.0          8           307  ...         NaN          NaN          NaN
1  15.0          8           350  ...         NaN          NaN          NaN
2  18.0          8           318  ...         NaN          NaN          NaN
3  16.0          8           304  ...         NaN          NaN          NaN
4  17.0          8           302  ...         NaN          NaN          NaN

[5 rows x 14 columns]
    mpg  cylinders  displacement  ... model  origin                 car
0  33.0          4            91  ...    76       3         honda civic
1  20.0          6           225  ...    76       1      dodge aspen se
2  18.0          6           250  ...    76       1   ford granada ghia
3  18.5          6           250  ...    76       1  pontiac ventura sj
4  17.5          6           258  ...    76       1       amc pacer d/l

[5 rows x 9 columns]

In [ ]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
 9   Unnamed: 9    0 non-null      float64
 10  Unnamed: 10   0 non-null      float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
dtypes: float64(7), int64(5), object(2)
memory usage: 21.8+ KB

In [ ]:
cars2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           200 non-null    float64
 1   cylinders     200 non-null    int64
 2   displacement  200 non-null    int64
 3   horsepower    200 non-null    object
 4   weight        200 non-null    int64
 5   acceleration  200 non-null    float64
 6   model         200 non-null    int64
 7   origin        200 non-null    int64
 8   car           200 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.2+ KB

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [ ]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

    mpg  cylinders  displacement  ... model  origin                        car
0  18.0          8           307  ...    70       1  chevrolet chevelle malibu
1  15.0          8           350  ...    70       1          buick skylark 320
2  18.0          8           318  ...    70       1         plymouth satellite
3  16.0          8           304  ...    70       1              amc rebel sst
4  17.0          8           302  ...    70       1                ford torino

[5 rows x 9 columns]

### Step 5. What is the number of observations in each dataset?

In [ ]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [ ]:
cars = cars1.append(cars2)
cars.tail()

      mpg  cylinders  displacement  ... model  origin              car
195  27.0          4           140  ...    82       1  ford mustang gl
196  44.0          4            97  ...    82       2        vw pickup
197  32.0          4           135  ...    82       1    dodge rampage
198  28.0          4           120  ...    82       1      ford ranger
199  31.0          4           119  ...    82       1       chevy s-10

[5 rows x 9 columns]

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [ ]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([59437, 70094, 53358, 17592, 28767, 29264, 38178, 27362, 44940,
       51284, 50912, 61081, 48340, 29051, 37147, 64616, 16018, 23148,
       68999, 27654, 43785, 22377, 56209, 66011, 35867, 48635, 31031,
       37370, 37883, 53970, 68091, 68406, 64420, 65099, 22698, 42858,
       38113, 24205, 67657, 71999, 58708, 60150, 29937, 57427, 51973,
       18002, 60290, 54134, 28494, 37842, 43132, 30210, 67458, 72881,
       50677, 59342, 49725, 66995, 61269, 69490, 39985, 16364, 54506,
       23797, 58738, 59106, 24099, 56228, 50338, 52515, 41235, 22194,
       53057, 50223, 57298, 38865, 37310, 72973, 21567, 43688, 68780,
       16619, 58233, 48230, 37596, 38890, 50571, 72442, 28484, 66087,
       64005, 51705, 39688, 19342, 28487, 64133, 67743, 15769, 16510,
       30545, 66857, 16643, 62604, 57015, 50336, 36375, 37508, 51997,
       49224, 48759, 39503, 66289, 31408, 32284, 23137, 61949, 23383,
       17252, 33535, 44907, 59846, 15227, 72332, 30138, 48182, 18479,
       43538, 34741, 37401, 21502, 58497, 31042, 67692, 72478, 30290,
       46699, 39256, 71626, 33552, 25075, 47084, 49722, 28709, 63360,
       69741, 45101, 66592, 66146, 70323, 71883, 46417, 62021, 70774,
       64512, 62564, 32189, 22619, 42721, 25144, 37344, 45890, 60004,
       51391, 38883, 45306, 64300, 18450, 21842, 52137, 70776, 27358,
       54217, 57766, 23089, 36544, 39955, 30615, 72220, 30300, 34094,
       53529, 24886, 63703, 30362, 71050, 68587, 22905, 47695, 33213,
       72434, 48616, 61424, 63056, 31544, 60162, 59459, 70433, 52121,
       38776, 41341, 29853, 36682, 40616, 33933, 42044, 54127, 34301,
       53090, 15759, 22068, 72070, 44784, 29689, 27644, 39403, 38171,
       19180, 41992, 57428, 61896, 28336, 18043, 17411, 23707, 20533,
       65110, 52298, 67871, 36593, 40392, 45945, 45984, 67752, 71650,
       46954, 18488, 45179, 56550, 50885, 27741, 67691, 51122, 66356,
       36382, 22217, 41958, 70780, 64969, 71274, 67539, 70066, 19255,
       25474, 18419, 59184, 36118, 42396, 25128, 71291, 50541, 32920,
       52240, 15804, 47229, 62679, 36676, 23861, 16192, 47392, 56488,
       65664, 18881, 55056, 61649, 37824, 40371, 21033, 40520, 43555,
       55546, 68163, 63677, 28956, 51711, 57146, 47118, 67771, 68463,
       37709, 33784, 24869, 70706, 51688, 65305, 54717, 34781, 68261,
       67358, 27144, 66909, 60865, 24244, 31029, 69525, 58776, 18752,
       44462, 34046, 31992, 46387, 51869, 34475, 62770, 37178, 46523,
       18948, 25662, 69761, 59385, 40116, 42386, 17767, 25767, 70263,
       59601, 44021, 70454, 34342, 50922, 46371, 66530, 56144, 63439,
       30139, 25764, 36102, 40653, 32769, 60213, 64311, 28255, 19311,
       33693, 46935, 48617, 70056, 59070, 19483, 23348, 27120, 55444,
       19672, 36595, 48280, 38333, 43710, 62699, 29255, 19148, 19469,
       33863, 70637, 17223, 37320, 43360, 37631, 35852, 29915, 57285,
       51968, 63144, 30987, 44572, 64504, 31613, 16388, 29745, 18593,
       45542, 48604, 64764, 72653, 19548, 69189, 21269, 32760, 61101,
       57580, 64701, 25944, 26868, 55029, 20216, 43928, 60879, 59019,
       57480, 61874])

### Step 8. Add the column owners to cars

In [ ]:
cars['owners'] = nr_owners
cars.tail()

      mpg  cylinders  displacement  ... origin              car  owners
195  27.0          4           140  ...      1  ford mustang gl   43928
196  44.0          4            97  ...      2        vw pickup   60879
197  32.0          4           135  ...      1    dodge rampage   59019
198  28.0          4           120  ...      1      ford ranger   57480
199  31.0          4           119  ...      1       chevy s-10   61874

[5 rows x 10 columns]

In [ ]:
cars.shape

(398, 10)

In [ ]:
cars = cars.reset_index()

In [ ]:
cars.tail()

     index   mpg  cylinders  ...  origin              car  owners
393    195  27.0          4  ...       1  ford mustang gl   43928
394    196  44.0          4  ...       2        vw pickup   60879
395    197  32.0          4  ...       1    dodge rampage   59019
396    198  28.0          4  ...       1      ford ranger   57480
397    199  31.0          4  ...       1       chevy s-10   61874

[5 rows x 11 columns]